
body{
	background-size: 100%;

}

.linea{
	
	
	Width: 100%;
    height: 70px;
	background-color: #3D1F1A;
    position: fixed;
    left: 0;
    top: 0;
	z-index: 1000;
	margin-left: 010px;


}


#bio{
    font-family: 'VollkornItalic', Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    color: #cccccc;
    letter-spacing: 1px;
    line-height: 1.8;
}
article{
	position: relative;
	margin-left:400px;
	margin-right: 90px;
	margin-top: 90px;
} 

h1{
	position: relative;
	margin-left:700px;
	font-size:30px;
}

nav{
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: #3D1F1A  ;
}


a.titulo{
	margin-top:20px;
	margin-left:90px;
}

ul{
	margin-top:15px;
	list-style: none;
	display: block;
}

li{
	width: 100%;
	height:50px;
	
	overflow: hidden;
}

img.portada{
	margin-top: 5px;
	margin-left: 60px;
	padding:16px;
}
h1.titulo{
	position:center;
	margin-left:130px;
	font-size:20px;
	color:white;
}

p.menu{
	position: relative;
	padding:2px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
	
}

div.barra{
	position: absolute;
	height: 50px;
	margin-top:12px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

li:hover div.barra{
	width:260px;
}



input#buscador:focus{
	background-position: 300px 15px;
}

::-webkit-input-placeholder{
	color: #e2e2e2;
	text-align: right;
	opacity: .1;
}

li:hover p.menu{
	opacity: 1;
}


.cajatexto{
    float: left;
	margin-top: 30px;
  

    margin-bottom: 30px;
}
p {
margin-bottom: 30px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
text-align: justify;
line-height: 22px;
margin-right: 10px;
margin-left: 10px;
}

.encabezado{

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
text-align: center;
};

.glosario
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding-left: 300px;
    margin-right: 200px;
    margin-top: 90px;
    text-indent: 0.8cm;

}
ol li {
    text-transform: uppercase;
	font-family: 'Cardo', serif;
	font-size: 20px;
    color:rgb(10, 10, 9);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}













































