


body{
	background-size: 100%;

}


.linea{
	
	
	Width: 100%;
    height: 70px;
	background-color: #3D1F1A;
    position: fixed;
    left: 0;
    top: 0;
	z-index: 1000;
	margin-left: 010px;


}
#bio{
    font-family: 'VollkornItalic', Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    color: #cccccc;
    letter-spacing: 1px;
    line-height: 1.8;
}
.cajaTexto{
	
	
	float: left;
	margin-top: 90px;
}
p {

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
text-align: justify;
line-height: 22px;
margin-right: 40px;
margin-left: 40px;
}
h2{margin-right: 40px;
	margin-left: 40px;}

.encabezado{

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
text-align: center;
}


article{
	position: relative;
	margin-left:400px;
	margin-right: 90px;
	margin-top: 90px;
}


h1{
	position: relative;
	margin-left:700px;
	font-size:30px;
}

nav{
	position: fixed;
	
	height: 100%;
	background-color: #3D1F1A  ;
	margin-top: 75px;
}

ul{
	margin-top:15px;
	list-style: none;
	display: block;
}

li{
	width: 100%;
	height:50px;

	overflow: hidden;
}

img.portada{
	margin-top: 5px;
	margin-left: 40px;
	padding:16px;
}


p.menu{
	position: relative;
	padding:2px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
	-webkit-transition: opacity .2s;
}

li:hover p.menu{
	opacity: 1;
}

div.barra{
	position: absolute;
	margin-top:12px;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

li:hover div.barra{
	width:260px;
}

.videos {
   text-align: center;
}

.lista{

    font-style:initial;
    color: rgb(4, 46, 88);
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    float: center;

	}
	